{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block start %}

{% block user %}

<div class="content-section col-md-8 col-md-offset-2">

<h2>Chat Room with
{{ user }}
</h2>
<div style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
	{% for a_message in all_messages %}
<p>"{{ a_message.content }}" - {{ a_message.receiver }} {{ a_message.timestamp }}</p>

        {% endfor %}
	{% for user in users %}
            <tr>
                <td>{{ user }}</td>
                <td>{{ user.user.email }}</td>
                <td>{{ user.is_online }}</td>
		<br />
            </tr>
        {% endfor %}

	<center>
	<form action='/api/chat/send/' method='POST'>
			{% csrf_token %}
        	<input type="text" id="message-input" style="width:650px" name="content" autocomplete="off">
        	<button type="submit" name="username" value={{ user.user.username }}>Send</button>
    	</form>
	</center>
	<br />

</div>
</div>
{% endblock user %}
{% endblock start %}