{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block start %}

<div class="content-section col-md-8 col-md-offset-2">

<h2> Available Users </h2>
<div style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
		<form action='/api/chat/start/' method='POST'>
	{% for user in users %}
            <tr>
                <td>{{ user }}</td>
                <td>{{ user.user.email }}</td>
                <td>{{ user.is_online }}</td>
			{% csrf_token %}
			<button type='submit' class="btn btn-primary" name="username" value="{{ user.user.username }}" >  Chat  </button>
		<br />
            </tr>
        {% endfor %}
		</form>		

	<br />
</div>
</div>
{% endblock start %}